<h2>Available Food Listings</h2>

<form method="GET" action="/list">
  <input type="text" name="location" placeholder="Enter location">
  <button type="submit">Search</button>
</form>

<br>

<table border="1">
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Location</th>
    <th>Expiry</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for food in foods %}
  <tr>
    <td>{{ food.food_name }}</td>
    <td>{{ food.quantity }}</td>
    <td>{{ food.location }}</td>

    <td>
      {{ food.expiry_time }}
      {% if food.status == "Available" %}
        <span style="color:red;">(Check Soon)</span>
      {% endif %}
    </td>

    <td>
  {% if food.status == "Available" %}
    <span style="color:green;">Available</span>
  {% elif food.status == "Requested" %}
    <span style="color:orange;">Requested</span>
  {% else %}
    <span style="color:gray;">Completed</span>
  {% endif %}
</td>

<td>
  {% if food.status == "Available" %}
    <a href="/request/{{ food.id }}">Request</a>

  {% elif food.status == "Requested" %}
    <a href="/complete/{{ food.id }}">Mark Completed</a>

  {% else %}
    Completed
  {% endif %}
</td>
  </tr>
  {% endfor %}
</table>